@font-face {
    font-family: Chonkly;
    src: url("../font/Chonkly.otf") format("opentype");
}

body {
    background: url('../img/bg.jpg');
    color:var(--white);
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;
    align-items: center;
}

#return {
    display: block;
    width: 100%;
    color:var(--purple);
    padding: 15px 30px;
    text-align: left;
}

h1,
h2,
#min_max {
    font-family: 'Chonkly';
    text-transform: uppercase;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin : 100px 0 80px;
}

h2 {
    font-size : 1.7rem;
}

#settings,
#playbox {
    background-color: var(--card);
    padding : 20px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px var(--light-purple);
}

button {
    background-color: var(--purple);
    color:var(--white);
    box-shadow: 2px 2px 1px var(--light-purple);
    margin:auto;
    max-width: 150px;
}

input {
    border-radius: 5px;
    color:var(--input);
    background-color:var(--white)
}

#min_max {
    display:flex;
    justify-content: space-between;
}

#min, #max {
    font-style: unset;
}

p {
    padding-top:10px;
    text-align: center;
    font-style: italic;
}

#attempt {
    text-align: right;
    padding-top:10px;
}

.err {
    color:var(--red);
}

audio {
    display: none;
}

img {
    max-height:300px;
    width:auto
}