@font-face {
    font-family: Chonkly;
    src: url("../font/Chonkly.otf") format("opentype");
}

body {
    background: url('../img/bg.jpg');
    color:var(--white);
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
}

#return {
    display: block;
    margin-right: auto;
    color:var(--purple);
    padding: 15px 30px;
    text-align: left;
}

#return:hover {
    color:var(--light-purple);
}

h1,
h2,
#min_max {
    font-family: 'Chonkly';
    text-transform: uppercase;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin : 100px 0 80px;
}

h2 {
    font-size : 1.7rem;
}

#settings,
#playbox {
    background-color: var(--card);
    padding : 20px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px var(--light-purple);
    margin:auto;
    width: 10%;
}

#finished {
    margin:auto;
    width: fit-content;
}

button {
    color:var(--white);
    font-family: 'Nunito';
    background-color: var(--purple);
    box-shadow: 2px 2px 1px var(--light-purple);
    border:none;
    border-radius: 5px;
    padding:3px 8px;
    margin:auto;
    max-width: 150px;
    cursor: pointer;
}

.inputBox {
    margin-top: 1rem;
}

input {
    border-radius: 5px;
    color:var(--input);
    background-color:var(--white);
    display:block;
    border:none;
}

#min_max {
    display:flex;
    justify-content: space-between;
}

#min, #max {
    font-style: unset;
}

p {
    text-align: center;
    font-style: italic;
    text-wrap: wrap;
}

#attempt {
    text-align: right;
}

.err {
    color:var(--red);
}

audio {
    display: none;
}

img {
    max-height:300px;
    width:auto;
    margin-bottom: 3em;
}

.none {
    display:none;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

